:root {
  --background: #1A222C;
  --text: #ffffff;
  --background-white: #FFFFFF;
  --text-black: #222222;
  --text-grey: #
}

.test {
  background-color: var(--background);
}

#particles-js {
  background-color: var(--background);
}

#body {
  background-color: var(--background);
}



.header {
  font-family: 'Open Sans', sans-serif;  z-index: 1;
  text-align: center;
  color: var(--text);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 300%;
}

.idk {
  font-family: 'Open Sans', sans-serif;  z-index: 1;
  text-align: center;
  color: var(--text-black);
  position: absolute;
  top: 100%;
  left: 7%;
  right: 7%;
  background-color: var(--background-white);
  border-radius: 20px;

}


.title {
  color: var(--text);
  font-size: 35px;
}

.footer {
  background-color: var(--background);
  color: var(--text);
  text-align: center;
  
}