:root {
  --background: #fff;
  --text: #ccc;
  --background-white: #fff;
  --text-black: #ccc;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2A33;
    --text: #ffffff;
    --background-secondair: #1C1B22;
    --text-black: #222222;
  
  }
}

#particles-js {
  background-color: var(--background);
}

.header {
  font-family: 'Open Sans', sans-serif;  z-index: 1;
  text-align: center;
  color: var(--text);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 300%;
}

.content01 {
  font-family: 'Open Sans', sans-serif;  z-index: 1;
  text-align: center;
  color: var(--text);
  position: absolute;
  top: 100%;
  left: 2.5%;
  right: 67.5%;
  background-color: var(--background-secondair);
  border-radius: 20px;
  box-shadow: 0px 0px 5px #0E1111;

}

.content02 {
  font-family: 'Open Sans', sans-serif;  z-index: 1;
  text-align: center;
  color: var(--text);
  position: absolute;
  top: 100%;
  left: 35%;
  right: 35%;
  background-color: var(--background-secondair);
  border-radius: 20px;
  box-shadow: 0px 0px 5px #0E1111;

}

.content03 {
  font-family: 'Open Sans', sans-serif;  z-index: 1;
  text-align: center;
  color: var(--text);
  position: absolute;
  top: 100%;
  left: 67.5%;
  right: 2.5%;
  background-color: var(--background-secondair);
  border-radius: 20px;
  box-shadow: 0px 0px 5px #0E1111;

}

.title {
  color: var(--text);
  font-size: 35px;
}

.footer {
  background-color: var(--background);
  color: var(--text);
  text-align: center;
  position: absolute;
  bottom: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;

}